@import '../../scss/variables.scss';

.portfolio{
	max-width:1224px;
	min-height: 100vh;
	padding: 112px 24px 0px 24px;
	margin: 0 auto;

	@media screen and (max-width: 500px) {
		padding: 112px 16px 0 16px;
	}

	&__title{
		text-align: center; 

		span{
		color: $pink;
		text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 5px;  		 
		}

		h1{		
		margin-bottom: 48px;
		color: #fff;
   	font-size: 50px;

		@media screen and (max-width: 750px) {
			font-size: 40px;
		}
		}
	}

	&__btns{
		display: flex;
		justify-content: center;
		gap: 16px;

	button{
		padding: 8px 14px;
		border-radius: 4px;
		border: none;
		margin-top: 16px;
		color: #000;
		font-family: 'Poppins';
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
		background: #fff;

		&.active{
			background: $pink;
			color: #fff;
		}	}

	}

	&__workImages{	
		display: grid;
		grid-template-columns: repeat(3,1fr);		
		margin-top: 80px;
		gap: 10px;
		
		@media screen and (max-width: 1000px) {
			grid-template-columns: repeat(2,1fr);
	  }

	  @media screen and (max-width: 700px) {
		grid-template-columns: 1fr;
  }

	}

	&__workImage{
		max-width: 380px;
		height: 250px;
		position: relative;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width:400px) {
			max-width: 350px;
	  }
		
		img{
			object-fit:cover;
			width: 100%;
			height: 100%;
		}
	}

&__hover{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
	background: $pink;
	z-index: 5;

	a{
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: rgba(255,255,255,0.25);
		
		svg{
			color: #fff;
			font-size: 20px;
		}

	}
}

&__talkProjects{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	border-radius: 4px;
	flex-wrap: wrap;
	gap: 16px;
}

&__talkTitle{
	
	h3{
		font-size: 20px;
		span{
			font-size: 36px;
			color: $pink;

			@media screen and (max-width: 599px) {
				font-size: 32px;
		  }

		  @media screen and (max-width: 370px) {
				font-size: 24px;
		  }
		}
	}
}

&__talkContact{
	background: $pink;
	border-radius: 4px;
	font-size: 14px;
	margin-bottom: 9px;
	align-self: flex-end;
	padding: 10px 16px;

	a{
		color: #fff;
		text-decoration: none;
	}
}






}